@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

* {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}
